@page "/teachers"

@using ServiceLayer.Teacher.Dto
@using ServiceLayer.Teacher.Repositories
@using SchoolWebApp.Pages.Teacher.Modals
@using SchoolWebApp.Pages.Common.EmailsPhones;

@inject TeacherQueries TeacherQueries;
@inject TeacherCommands TeacherCommands;
@inject IModalService Modal
@inject NavigationManager NavigationManager;

<h1>Вчителі</h1>
<hr/>
<RadzenGrid EmptyText="Вчителів немає" AllowPaging="true" PageSize="10" AllowFiltering="true" AllowSorting="true" Data="_teachers" TItem="TeacherDto" RowSelect="@(_ => { })" RowDoubleClick="@(teacher => OnRowSelect(teacher))">
    <Columns>
        <RadzenGridColumn TItem="TeacherDto" Property="LastName" Title="Прізвище"/>
        <RadzenGridColumn TItem="TeacherDto" Property="FirstName" Title="Ім'я"/>
        <RadzenGridColumn TItem="TeacherDto" Property="MiddleName" Title="По-батькові"/>
        <AuthorizeView Roles="ADMIN, CLASSHEAD">
            <RadzenGridColumn TItem="TeacherDto" Title="Дії" Sortable="false" Filterable="false" Width="10%">
                <Template Context="teacher">
                    <button @onclick="@(() => Modal.ShowModalWithActionOnClose<DeleteTeacherModal>("Підтвердіть видалення", RefreshTeachers, ("Teacher", teacher)))" class="btn btn-danger mb-1 oi oi-delete"></button>
                </Template>
            </RadzenGridColumn>
        </AuthorizeView>
    </Columns>
</RadzenGrid>
<AuthorizeView Roles="ADMIN, CLASSHEAD">
    <button class="btn btn-primary btn-lg mt-2" @onclick="@(() => Modal.ShowModalWithActionOnClose<AddTeacherModal>("Додати вчителя", RefreshTeachers))">Додати вчителя</button>
</AuthorizeView>

@code {
    IEnumerable<TeacherDto> _teachers;

    protected override void OnInitialized()
    {
        RefreshTeachers();
    }

    void RefreshTeachers()
    {
        _teachers = TeacherQueries.GetTeachers();
    }

    void OnRowSelect(TeacherDto teacher)
    {
        NavigationManager.NavigateTo($"/profile/teacher/{teacher.TeacherCode}");
    }

}