@using ServiceLayer.Common.EmailsPhones
@using SchoolWebApp.Pages.Teacher.Modals
@using ServiceLayer.Common.EmailsPhones.Dto
@using ServiceLayer.Common.EmailsPhones.Interfaces
@using ServiceLayer.Teacher.Repositories
@using SchoolWebApp.Pages.Common.EmailsPhones.Modals
@using SchoolWebApp.Pages.Pupil.Modals
@using ServiceLayer.Family.Dto
@using ServiceLayer.Family.Repositories
@using ServiceLayer.Relative.Dto
@using ServiceLayer.Relative.Repositories
@using Microsoft.AspNetCore.Identity
@using DataLayer.Entities

@inject IModalService Modal
@inject FamilyQueries FamilyQueries
@inject FamilyCommands FamilyCommands
@inject NavigationManager NavigationManager
@inject SignInManager<User> SignInManager

<RadzenTabsItem Text="Родичі(сім'я)">
    @if (_familyRelatives.Any())
    {
        <RadzenGrid Data="_familyRelatives" TItem="FamilyRelativeDto" RowSelect="@(_ => { })" RowDoubleClick="@(relative => OnRowSelect(relative))">
            <Columns>
                <RadzenGridColumn TItem="FamilyRelativeDto" Property="LastName" Title="Прізвище"/>
                <RadzenGridColumn TItem="FamilyRelativeDto" Property="FirstName" Title="Ім'я"/>
                <RadzenGridColumn TItem="FamilyRelativeDto" Property="Type" Title="Тип"/>
                @if (IsEditable)
                {
                    <RadzenGridColumn TItem="FamilyRelativeDto" Title="Дії">
                        <Template Context="familyRelative">
                            <button @onclick="@(() => { FamilyCommands.DeleteFamily(Code, familyRelative.RelCode); RefreshFamilyRelatives(); })" class="btn btn-danger mb-1 oi oi-delete"></button>
                        </Template>
                    </RadzenGridColumn>
                }
            </Columns>
        </RadzenGrid>
    }
    else
    {
        <p>Родичів немає</p>
    }
    @if (IsEditable)
    {
        <button class="btn btn-primary btn-sm mt-2" @onclick="@(() => Modal.ShowModalWithActionOnClose<AddFamilyRelativeModal>("Додати родича", RefreshFamilyRelatives, ("Code", Code)))">Додати родича</button>
    }
</RadzenTabsItem>

@code {

    [Parameter]
    public EventCallback ContentChanged { get; set; }

    [Parameter]
    public int Code { get; set; }

    [Parameter]
    public bool IsEditable { get; set; }

    IEnumerable<FamilyRelativeDto> _familyRelatives;

    protected override void OnInitialized()
    {
        RefreshFamilyRelatives();
    }

    void RefreshFamilyRelatives()
    {
        _familyRelatives = FamilyQueries.GetFamilyRelatives(Code);
        ContentChanged.InvokeAsync(null);
    }

    void OnRowSelect(FamilyRelativeDto dto)
    {
        if (SignInManager.Context.User.IsInRole("ADMIN") || SignInManager.Context.User.IsInRole("CLASSHEAD"))
        {
            NavigationManager.NavigateTo($"profile/relative/{dto.RelCode}");
        }
    }

}