@page "/pupils"

@using ServiceLayer.Pupil.Dto
@using ServiceLayer.Pupil.Repositories
@using SchoolWebApp.Pages.Pupil.Modals
@using SchoolWebApp.Pages.Common.EmailsPhones;

@inject PupilQueries PupilQueries;
@inject PupilCommands PupilCommands;
@inject IModalService Modal;
@inject NavigationManager NavigationManager;

<h1>Учні</h1>
<hr/>
<RadzenGrid EmptyText="Учнів немає" AllowPaging="true" PageSize="10" AllowFiltering="true" AllowSorting="true" Data="_pupils" TItem="PupilDto" RowSelect="@(_ => { })" RowDoubleClick="@(pupil => OnRowSelect(pupil))">
    <Columns>
        <RadzenGridColumn TItem="PupilDto" Property="LastName" Title="Прізвище"/>
        <RadzenGridColumn TItem="PupilDto" Property="FirstName" Title="Ім'я"/>
        <RadzenGridColumn TItem="PupilDto" Property="MiddleName" Title="По-батькові"/>
        <RadzenGridColumn TItem="PupilDto" Title="Дії" Sortable="false" Filterable="false" Width="10%">
            <Template Context="pupil">
                <button @onclick="@(() => Modal.ShowModalWithActionOnClose<DeletePupilModal>("Підтвердіть видалення", RefreshPupils, ("Pupil", pupil)))" class="btn btn-danger mb-1 oi oi-delete"></button>
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>
<button class="btn btn-primary btn-lg mt-2" @onclick="@(() => Modal.ShowModalWithActionOnClose<AddPupilModal>("Додати учня", RefreshPupils))">Додати учня</button>

@code {
    IEnumerable<PupilDto> _pupils;

    protected override void OnInitialized()
    {
        RefreshPupils();
    }

    void RefreshPupils()
    {
        _pupils = PupilQueries.GetPupils();
    }

    void OnRowSelect(PupilDto pupil)
    {
        NavigationManager.NavigateTo($"/profile/pupil/{pupil.PupCode}");
    }

}