@using ServiceLayer.Teacher.Dto
@using ServiceLayer.Teacher.Repositories
@using DataLayer.Entities
@using NickBuhro.Translit
@using Microsoft.AspNetCore.Identity
@using SchoolWebApp.Services

@inject TeacherCommands Commands
@inject IModalService ModalService
@inject NotificationService Notifications
@inject UserManager<User> UserManager
@inject RoleManager<Role> RoleManager

<EditForm OnValidSubmit="@(Submit)" Model="Teacher">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="LastName">Прізвище: </label>
        <InputText class="form-control" id="LastName" placeholder="Прізвище" @bind-Value="Teacher.LastName"/>

        <label for="FirstName">Ім'я:</label>
        <InputText class="form-control" id="FirstName" placeholder="Ім'я" @bind-Value="Teacher.FirstName"/>

        <label for="MiddleName">По-батькові:</label>
        <InputText class="form-control" id="MiddleName" placeholder="По-батькові" @bind-Value="Teacher.MiddleName"/>

        <button type="submit" class="btn btn-primary  btn-block mt-1">Зберегти</button>
    </div>
</EditForm>

@code {

    TeacherDto Teacher { get; } = new TeacherDto();

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    protected override void OnInitialized()
    {
    }

    async Task Submit()
    {
        string login = $"t{Transliteration.CyrillicToLatin(Teacher.LastName, Language.Ukrainian)[..4]}{Transliteration.CyrillicToLatin(Teacher.FirstName, Language.Ukrainian)[..2]}";
        if (!string.IsNullOrWhiteSpace(Teacher.MiddleName))
        {
            login += Transliteration.CyrillicToLatin(Teacher.MiddleName, Language.Ukrainian)[..2];
        }
        login = login.Replace('і', 'i');
        login = login.Replace('І', 'I');
        string pass = RandomPasswordGenerator.GeneratePassword(UserManager);

        User user = new User {Login = login};

        await UserManager.CreateAsync(user, pass);
        await UserManager.AddToRoleAsync(user, "TEACHER");

        Commands.AddTeacher(Teacher, login);
        Notifications.Notify(NotificationSeverity.Success, "Вчителя створено!", $"Логін: {user.Login}\nПароль: {pass}", int.MaxValue);
        BlazoredModal.Close();
    }

}