@using ServiceLayer.Teacher.Dto
@using ServiceLayer.Teacher.Repositories
@using DataLayer.Entities
@using Microsoft.AspNetCore.Identity;
@inject TeacherCommands Commands
@inject TeacherQueries Queries
@inject IModalService ModalService
@inject UserManager<User> UserManager

<div>
    <p class="alert alert-warning">Ви дійсно бажаєте видалити "@Teacher.LastName @Teacher.FirstName"?</p>
    <button class="btn btn-block btn-danger" @onclick="Submit">Так</button>
</div>

@code {

    [Parameter]
    public TeacherDto Teacher { get; set; }

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    
    protected override void OnInitialized()
    {
    }

    async Task Submit()
    {
        await UserManager.DeleteAsync(await UserManager.FindByNameAsync(Queries.GetLogin(Teacher.TeacherCode)));
        // Commands.DeleteTeacher(Teacher.TeacherCode);
        BlazoredModal.Close();
    }

}