@using ServiceLayer.Teacher.Dto
@using ServiceLayer.Teacher.Repositories
@inject TeacherCommands Commands
@inject IModalService ModalService

<EditForm OnValidSubmit="@(Submit)" Model="_teacher">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="LastName">Прізвище: </label>
        <InputText class="form-control" id="LastName" placeholder="Прізвище" @bind-Value="_teacher.LastName"/>
        
        <label for="FirstName">Ім'я:</label>
        <InputText class="form-control" id="FirstName" placeholder="Ім'я" @bind-Value="_teacher.FirstName"/>
        
        <label for="MiddleName">По-батькові:</label>
        <InputText class="form-control" id="MiddleName" placeholder="По-батькові" @bind-Value="_teacher.MiddleName"/>
        
        <button type="submit" class="btn btn-primary  btn-block mt-1">Зберегти</button>
    </div>
</EditForm>

@code {

    [Parameter]
    public TeacherDto Teacher { get; set; }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    private TeacherDto _teacher;
    
    protected override void OnInitialized()
    {
        _teacher = new TeacherDto
        {
            TeacherCode = Teacher.TeacherCode,
            LastName = Teacher.LastName,
            FirstName = Teacher.FirstName,
            MiddleName = Teacher.MiddleName,
        };
    }

    void Submit()
    {
        Commands.UpdateTeacher(_teacher);
        BlazoredModal.Close();
    }

}