@using ServiceLayer.Pupil.Dto
@using ServiceLayer.Pupil.Repositories
@using ServiceLayer.Family.Repositories
@using ServiceLayer.Family.Dto
@using ServiceLayer.Relative.Dto
@using ServiceLayer.Relative.Repositories
@using SchoolWebApp.Pages.Pupil.Modals.SelectNum

@inject FamilyCommands FamilyCommands
@inject FamilyQueries FamilyQueries
@inject IModalService ModalService

<EditForm OnValidSubmit="@(Submit)" Model="_familyDto">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="Type">Тип: </label>
        <InputText class="form-control" id="Type" placeholder="Тип" @bind-Value="_familyDto.Type"/>
        
        <label for="Pupil">Учень: </label>
        <InputSelectNumber id="Pupil" class="form-control" @bind-Value="_familyDto.PupCode">
            <option selected>Виберіть родича...</option>
            @foreach (var pupil in _pupils)
            {
                <option value="@pupil.PupCode">@($"{pupil.LastName} {pupil.FirstName} {pupil.MiddleName}")</option>
            }
        </InputSelectNumber>
        
        <button type="submit" class="btn btn-primary btn-block mt-1">Додати</button>
    </div>
</EditForm>

@code {
    
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public int Code { get; set; }

    FamilyDto _familyDto;

    IEnumerable<PupilDto> _pupils;

    protected override void OnInitialized()
    {
        _familyDto = new FamilyDto
        {
            RelCode = Code
        };

        _pupils = FamilyQueries.GetNonFamilyPupils(Code);
    }

    void Submit()
    {
        FamilyCommands.CreateFamily(_familyDto);
        BlazoredModal.Close();
    }

}