@using ServiceLayer.Relative.Dto
@using ServiceLayer.Relative.Repositories
@using DataLayer.Entities
@using NickBuhro.Translit
@using SchoolWebApp.Services
@using Microsoft.AspNetCore.Identity
@inject RelativeCommands Commands
@inject IModalService ModalService
@inject NotificationService Notifications
@inject UserManager<User> UserManager
@inject RoleManager<Role> RoleManager


<EditForm OnValidSubmit="@(Submit)" Model="Relative">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="LastName">Прізвище: </label>
        <InputText class="form-control" id="LastName" placeholder="Прізвище" @bind-Value="Relative.LastName"/>
        
        <label for="FirstName">Ім'я:</label>
        <InputText class="form-control" id="FirstName" placeholder="Ім'я" @bind-Value="Relative.FirstName"/>
        
        <label for="MiddleName">По-батькові:</label>
        <InputText class="form-control" id="MiddleName" placeholder="По-батькові" @bind-Value="Relative.MiddleName"/>
        
        <button type="submit" class="btn btn-primary  btn-block mt-1">Зберегти</button>
    </div>
</EditForm>

@code {
    
    RelativeDto Relative { get; } = new RelativeDto();

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    
    protected override void OnInitialized()
    {
    }

    async Task Submit()
    {
        string login = $"r{Transliteration.CyrillicToLatin(Relative.LastName, Language.Ukrainian)[..4]}{Transliteration.CyrillicToLatin(Relative.FirstName, Language.Ukrainian)[..2]}";
        if (!string.IsNullOrWhiteSpace(Relative.MiddleName))
        {
            login += Transliteration.CyrillicToLatin(Relative.MiddleName, Language.Ukrainian)[..2];
        }
        login = login.Replace('і', 'i');
        login = login.Replace('І', 'I');
        string pass = RandomPasswordGenerator.GeneratePassword(UserManager);
        
        User user = new User {Login = login};
        
        await UserManager.CreateAsync(user, pass);
        await UserManager.AddToRoleAsync(user, "RELATIVE");
        
        Commands.AddRelative(Relative, login);
        Notifications.Notify(NotificationSeverity.Success, "Родича створено!", $"Логін: {user.Login}\nПароль: {pass}", int.MaxValue);
        BlazoredModal.Close();
    }

}