@using ServiceLayer.Relative.Dto
@using ServiceLayer.Relative.Repositories
@using DataLayer.Entities
@using Microsoft.AspNetCore.Identity;
@inject RelativeCommands Commands
@inject RelativeQueries Queries
@inject IModalService ModalService
@inject UserManager<User> UserManager

<div>
    <p class="alert alert-warning">Ви дійсно бажаєте видалити "@Relative.LastName @Relative.FirstName"?</p>
    <button class="btn btn-block btn-danger" @onclick="Submit">Так</button>
</div>

@code {

    [Parameter]
    public RelativeDto Relative { get; set; }

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    
    protected override void OnInitialized()
    {
    }

    async Task Submit()
    {
        // Commands.DeleteRelative(Relative.RelCode);
        await UserManager.DeleteAsync(await UserManager.FindByNameAsync(Queries.GetLogin(Relative.RelCode)));
        BlazoredModal.Close();
    }

}