@using ServiceLayer.Relative.Dto
@using ServiceLayer.Relative.Repositories
@inject RelativeCommands Commands
@inject IModalService ModalService

<EditForm OnValidSubmit="@(Submit)" Model="_relative">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="LastName">Прізвище: </label>
        <InputText class="form-control" id="LastName" placeholder="Прізвище" @bind-Value="_relative.LastName"/>
        
        <label for="FirstName">Ім'я:</label>
        <InputText class="form-control" id="FirstName" placeholder="Ім'я" @bind-Value="_relative.FirstName"/>
        
        <label for="MiddleName">По-батькові:</label>
        <InputText class="form-control" id="MiddleName" placeholder="По-батькові" @bind-Value="_relative.MiddleName"/>
        
        <button type="submit" class="btn btn-primary  btn-block mt-1">Зберегти</button>
    </div>
</EditForm>

@code {

    [Parameter]
    public RelativeDto Relative { get; set; }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    private RelativeDto _relative;
    
    protected override void OnInitialized()
    {
        _relative = new RelativeDto
        {
            RelCode = Relative.RelCode,
            LastName = Relative.LastName,
            FirstName = Relative.FirstName,
            MiddleName = Relative.MiddleName,
        };
    }

    void Submit()
    {
        Commands.UpdateRelative(_relative);
        BlazoredModal.Close();
    }

}