@using ServiceLayer.Discipline.Repositories
@using ServiceLayer.Subject.Repositories
@using ServiceLayer.Discipline.Dto
@using ServiceLayer.Subject
@using SchoolWebApp.Pages.Common
@using SchoolWebApp.Pages.Pupil.Modals.SelectNum
@using System.ComponentModel.DataAnnotations
@using DataLayer.Entities
@using ServiceLayer.Learn.Repositories
@using ServiceLayer.Pupil.Repositories
@using ServiceLayer.Record.Dto
@using ServiceLayer.Record.Repositories
@using ServiceLayer.Subject.Dto
@using ServiceLayer.Teach.Repositories
@using ServiceLayer.Teacher.Dto
@using ServiceLayer.Teacher.Repositories

@inject IModalService Modal
@inject LearnQueries LearnQueries
@inject PupilQueries PupilQueries
@inject RecordCommands RecordCommands

<EditForm OnValidSubmit="@(Submit)" Model="_model" style="width: 60rem;">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="row">
        <div class="col" style="text-align: center">ПІБ:</div>
        <div class="col" style="text-align: center">Відвідування:</div>
        <div class="col" style="text-align: center">Оцінка:</div>
        <div class="col" style="text-align: center">Коментар:</div>
    </div>
    @foreach (var record in _model.Records)
    {
        <div class="form-row mb-1">

            <div class="col" style="font-size: 1.3rem">
                @{
                    var pupil = PupilQueries.GetPupil(record.PupCode);
                    @($"{pupil.LastName} {pupil.FirstName} {pupil.MiddleName}")
                }
            </div>
            <div class="col">
                <InputCheckbox class="form-control" @bind-Value="record.Attendance"/>
            </div>
            <div class="col">
                <InputNumber placeholder="1" class="form-control" @bind-Value="record.Grade"/>
            </div>
            <div class="col">
                <InputText placeholder="Коментар" class="form-control" @bind-Value="record.Comment"/>
            </div>
        </div>
    }

    <button type="submit" class="btn btn-primary btn-block mt-1">Додати</button>
</EditForm>

@code {

    class Model
    {
        public List<RecordDto> Records { get; set; }
    }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public int LesCode { get; set; }

    [Parameter]
    public int DisCode { get; set; }

    Model _model;

    protected override void OnInitialized()
    {
        _model = new Model
        {
            Records = LearnQueries.GetLearnPupils(DisCode).Select(p => new RecordDto
            {
                LesCode = LesCode,
                PupCode = p.PupCode
            }).ToList()
        };
    }

    void Submit()
    {
        RecordCommands.CreateRecords(_model.Records);
        BlazoredModal.Close();
    }

}