@using ServiceLayer.Discipline.Repositories
@using ServiceLayer.Subject.Repositories
@using ServiceLayer.Discipline.Dto
@using ServiceLayer.Subject
@using SchoolWebApp.Pages.Common
@using SchoolWebApp.Pages.Pupil.Modals.SelectNum
@using System.ComponentModel.DataAnnotations
@using DataLayer.Entities
@using DataLayer.QueryObjects
@using ServiceLayer.Learn.Repositories
@using ServiceLayer.Pupil.Repositories
@using ServiceLayer.Record.Dto
@using ServiceLayer.Record.Repositories
@using ServiceLayer.Subject.Dto
@using ServiceLayer.Teach.Repositories
@using ServiceLayer.Teacher.Dto
@using ServiceLayer.Teacher.Repositories

@inject IModalService Modal
@inject LearnQueries LearnQueries
@inject PupilQueries PupilQueries
@inject RecordCommands RecordCommands

<EditForm OnValidSubmit="@(Submit)" Model="_record">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group">

        <label for="Attendance">Відвідування: </label>
        <InputCheckbox class="form-control" id="Attendance" placeholder="Тип" @bind-Value="_record.Attendance"/>

        <label for="Grade">Оцінка: </label>
        <InputNumber id="Grade" placeholder="1" class="form-control" @bind-Value="_record.Grade"/>

        <label for="Comment">Коментар: </label>
        <InputText id="Comment" placeholder="Коментар" class="form-control" @bind-Value="_record.Comment"/>
        
        <button type="submit" class="btn btn-primary btn-block mt-1">Зберегти</button>
    </div>
</EditForm>

@code {

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get;set; }

    [Parameter]
    public PupilRecord PupilRecord { get; set; }

    RecordDto _record;

    protected override void OnInitialized()
    {
        _record = new RecordDto
        {
            RecordCode = PupilRecord.RecordCode,
            PupCode = PupilRecord.PupCode,
            Attendance = PupilRecord.Attendance,
            Grade = PupilRecord.Grade,
            Comment = PupilRecord.Comment
        };
    }

    void Submit()
    {
        RecordCommands.UpdateRecord(_record);
        BlazoredModal.Close();
    }

}