@using System.ComponentModel.DataAnnotations
@using MySql.Data.MySqlClient
@using ServiceLayer.Common.EmailsPhones
@using ServiceLayer.Common.EmailsPhones.Dto
@using ServiceLayer.Common.EmailsPhones.Interfaces

@inject NotificationService Notifications

<EditForm OnValidSubmit="@(() => Submit())" Model="_emailDto">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <InputText class="form-control" placeholder="example@abc.com" @bind-Value="@_emailDto.Email"/>
    <button type="submit" class="btn  btn-block btn-primary mt-1">Зберегти</button>
</EditForm>

@code {

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public IEmailsCommands Commands { get; set; }

    [Parameter]
    public int Code { get; set; }

    private EmailDto _emailDto;

    protected override void OnInitialized()
    {
        _emailDto = new EmailDto();
    }

    void Submit()
    {
        try
        {
            Commands.AddEmail(Code, _emailDto);
            BlazoredModal.Close();
        }
        catch (MySqlException)
        {
            Notifications.Notify(NotificationSeverity.Error, "Даний імейл вже використовується");
        }
    }
}