@using ServiceLayer.Teacher.Dto
@using ServiceLayer.Teacher.Repositories
@using ServiceLayer.Common.EmailsPhones
@using ServiceLayer.Common.EmailsPhones.Dto
@using ServiceLayer.Common.EmailsPhones.Interfaces

@inject IModalService ModalService

<div>
    <p class="alert alert-warning">Ви дійсно бажаєте видалити імейл "@EmailDto.Email"?</p>
    <button class="btn btn-block btn-danger" @onclick="Submit">Так</button>
</div>

@code {

    [Parameter]
    public EmailDto EmailDto { get; set; }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }
    
    [Parameter] 
    public IEmailsCommands Commands { get; set; }

    protected override void OnInitialized()
    {
    }

    void Submit()
    {
        Commands.DeleteEmail(new EmailDto{Email = EmailDto.Email});
        BlazoredModal.Close();
    }

}