@using ServiceLayer.Teacher.Dto
@using ServiceLayer.Teacher.Repositories
@using ServiceLayer.Common.EmailsPhones
@using ServiceLayer.Common.EmailsPhones.Dto
@using ServiceLayer.Common.EmailsPhones.Interfaces

@inject IModalService ModalService

<div>
    <p class="alert alert-warning">Ви дійсно бажаєте видалити номер телефону: "@PhoneDto.Phone"?</p>
    <button class="btn btn-block btn-danger" @onclick="Submit">Так</button>
</div>

@code {

    [Parameter]
    public PhoneDto PhoneDto { get; set; }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }
    
    [Parameter] 
    public IPhonesCommands Commands { get; set; }

    protected override void OnInitialized()
    {
    }

    void Submit()
    {
        Commands.DeletePhone(new PhoneDto{Phone = PhoneDto.Phone});
        BlazoredModal.Close();
    }

}