@using System.ComponentModel.DataAnnotations
@using MySql.Data.MySqlClient
@using ServiceLayer.Common.EmailsPhones
@using ServiceLayer.Common.EmailsPhones.Dto
@using ServiceLayer.Common.EmailsPhones.Interfaces

@inject NotificationService Notifications

<EditForm OnValidSubmit="@(() => Submit())" Model="_phoneDto">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <InputText class="form-control" placeholder="0954564080" @bind-Value="@_phoneDto.Phone"/>
    <button type="submit" class="btn btn-primary  btn-block mt-1">Зберегти</button>
</EditForm>

@code {

    [Parameter]
    public PhoneDto PhoneDto { get; set; }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public IPhonesCommands Commands { get; set; }

    private PhoneDto _phoneDto;

    protected override void OnInitialized()
    {
        _phoneDto = new PhoneDto {Phone = PhoneDto.Phone};
    }

    void Submit()
    {
        try
        {
            Commands.UpdatePhone(PhoneDto, _phoneDto);
            BlazoredModal.Close();
        }
        catch (MySqlException)
        {
            Notifications.Notify(NotificationSeverity.Error, "Даний телефон вже використовується");
        }
    }

}