﻿<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Привіт, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Вийти</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Увійти</a>
    </NotAuthorized>
</AuthorizeView>