﻿@inherits LayoutComponentBase

<BlazoredModal />
<RadzenNotification />

<AuthorizeView>
<div class="sidebar">
    <NavMenu/>
</div>
</AuthorizeView>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay/>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>