﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Школа</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView Roles="TEACHER, RELATIVE, PUPIL">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="profile" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Профіль
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Roles="ADMIN, CLASSHEAD">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="teachers">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Вчителі
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="pupils">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Учні
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="relatives">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Родичі
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="subjects">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Предмети
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="disciplines">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Дисципліни
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}