@using ServiceLayer.Common.EmailsPhones
@using SchoolWebApp.Pages.Teacher.Modals
@using ServiceLayer.Common.EmailsPhones.Dto
@using ServiceLayer.Common.EmailsPhones.Interfaces
@using ServiceLayer.Teacher.Repositories
@using SchoolWebApp.Pages.Common.EmailsPhones.Modals
@using DataLayer.Entities
@using Microsoft.AspNetCore.Identity;

@inject IModalService Modal
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

<RadzenTabsItem Text="Імейли">
    @if (_emails.Any())
    {
        <RadzenDataList TItem="EmailDto" Data="@_emails">
            <Template Context="emailDto">
                <span class="mb-0">@emailDto.Email</span>
                @if (IsEditable)
                {
                    <AuthorizeView Roles="ADMIN, CLASSHEAD, RELATIVE, PUPIL">
                        <button @onclick="@(() => Modal.ShowModalWithActionOnClose<DeleteEmailModal>("Підтвердіть видалення", ReadEmailsFromDb, ("EmailDto", emailDto), ("Commands", EmailsCommands)))" class="btn btn-danger float-right oi oi-delete"></button>
                        <button @onclick="@(() => Modal.ShowModalWithActionOnClose<UpdateEmailModal>("Зміна імейлу", ReadEmailsFromDb, ("EmailDto", emailDto), ("Commands", EmailsCommands)))" class="btn btn-outline-secondary float-right oi oi-pencil"></button>
                    </AuthorizeView>
                }
            </Template>
        </RadzenDataList>
    }
    else
    {
        <p>Імейлів немає</p>
    }
    @if (IsEditable)
    {
        <button class="btn btn-primary btn-sm mt-2" @onclick="@(() => Modal.ShowModalWithActionOnClose<AddEmailModal>("Додати імейл", ReadEmailsFromDb, ("Commands", EmailsCommands), ("Code", Code)))">Додати імейл</button>
    }
</RadzenTabsItem>
<RadzenTabsItem Text="Телефони">
    @if (_phones.Any())
    {
        <RadzenDataList TItem="PhoneDto" Data="@_phones">
            <Template Context="phoneDto">
                <span class="mb-0">@phoneDto.Phone</span>
                @if (IsEditable)
                {
                    <button @onclick="@(() => Modal.ShowModalWithActionOnClose<DeletePhoneModal>("Підтвердіть видалення", ReadPhonesFromDb, ("PhoneDto", phoneDto), ("Commands", PhonesCommands)))" class="btn btn-danger float-right oi oi-delete"></button>
                    <button @onclick="@(() => Modal.ShowModalWithActionOnClose<UpdatePhoneModal>("Зміна номеру телефона", ReadPhonesFromDb, ("PhoneDto", phoneDto), ("Commands", PhonesCommands)))" class="btn btn-outline-secondary float-right oi oi-pencil"></button>
                }
            </Template>
        </RadzenDataList>
    }
    else
    {
        <p>Номерів телефону немає</p>
    }
    @if (IsEditable)
    {
        <button class="btn btn-primary btn-sm mt-2" @onclick="@(() => Modal.ShowModalWithActionOnClose<AddPhoneModal>("Додати номер телефону", ReadPhonesFromDb, ("Commands", PhonesCommands), ("Code", Code)))">Додати телефон</button>
    }
</RadzenTabsItem>

@code {

    [Parameter]
    public EventCallback ContentChanged { get; set; }

    [Parameter]
    public IPhonesQueries PhonesQueries { get; set; }

    [Parameter]
    public IEmailsQueries EmailsQueries { get; set; }

    [Parameter]
    public IEmailsCommands EmailsCommands { get; set; }

    [Parameter]
    public IPhonesCommands PhonesCommands { get; set; }

    [Parameter]
    public int Code { get; set; }

    [Parameter]
    public bool IsEditable { get; set; } = true;

    IEnumerable<PhoneDto> _phones;
    IEnumerable<EmailDto> _emails;

    private void ReadFromDb()
    {
        ReadPhonesFromDb();
        ReadEmailsFromDb();
    }

    private void ReadEmailsFromDb()
    {
        _emails = EmailsQueries.GetEmails(Code);
        ContentChanged.InvokeAsync(null);
    }

    private void ReadPhonesFromDb()
    {
        _phones = PhonesQueries.GetPhones(Code);
        ContentChanged.InvokeAsync(null);
    }

    protected override void OnInitialized()
    {
        ReadFromDb();
    }

}