@using ServiceLayer.Pupil.Dto
@using ServiceLayer.Pupil.Repositories
@using ServiceLayer.Family.Repositories
@using ServiceLayer.Family.Dto
@using ServiceLayer.Relative.Dto
@using ServiceLayer.Relative.Repositories
@using SchoolWebApp.Pages.Pupil.Modals.SelectNum
@using SchoolWebApp.Pages.Record.Modals
@using DataLayer.Entities;
@using ServiceLayer.Lesson.Dto
@using ServiceLayer.Lesson.Repositories
@using ServiceLayer.Teach.Repositories
@using ServiceLayer.Teacher.Dto
@using ServiceLayer.Teacher.Repositories
@using DataLayer
@using DataLayer.FluentApiConfigurations.EntityFluentConfigurations

@inject TeachQueries TeachQueries
@inject LessonQueries LessonQueries
@inject LessonCommands LessonCommands
@inject IModalService ModalService
@inject SchoolContext Context

<EditForm OnValidSubmit="@(Submit)" Model="_lesson">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="Teacher">Вчитель, що заміняв: </label>
        <InputSelectNumber id="Teacher" class="form-control" @bind-Value="_lesson.TeacherCode">
            <option selected value="">Немає</option>
            @foreach (var teacher in _teachers)
            {
                <option value="@teacher.TeacherCode">@($"{teacher.LastName} {teacher.FirstName} {teacher.MiddleName}")</option>
            }
        </InputSelectNumber>

        <label>
            Дата проведення:
            <RadzenDatePicker TValue="DateTime" @bind-Value="_lesson.LessonDate" DateFormat="dd-MM-yyyy" Placeholder="ДД-ММ-РРРР" Style="width: 100%" Change="@(() => { })"/>
        </label>
        <br/>
        <label for="Num">Порядковий номер:</label>
        <InputNumber class="form-control" id="Num" placeholder="1" @bind-Value="_lesson.Num"/>

        <label for="Type">Тип:</label>
        <InputSelect id="Type" class="form-control" @bind-Value="_lesson.LessonType">
            <option selected>Виберіть тип...</option>
            <option value="Самостійна">Самостійна</option>
            <option value="Читання">Читання</option>
            <option value="Контрольна">Контрольна</option>
            <option value="Урок">Урок</option>
        </InputSelect>
        
        <label for="Theme">Тип:</label>
        <InputText id="Theme" @bind-Value="_lesson.Theme" class="form-control" placeholder="Тема..."/>
        
        <label for="HomeTask">Домашнє завдання:</label>
        <InputText id="HomeTask" @bind-Value="_lesson.HomeTask" class="form-control" placeholder="Домашнє завдання..."/>

        <button type="submit" class="btn btn-primary btn-block mt-1">Додати</button>
    </div>
</EditForm>

@code {

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public int Code { get; set; }

    LessonDto _lesson;

    IEnumerable<TeacherDto> _teachers;

    protected override void OnInitialized()
    {
        _lesson = new LessonDto
        {
            DisCode = Code
        };

        _teachers = TeachQueries.GetNonTeachersOfDiscipline(Code);
    }

    async Task Submit()
    {
        var lesson = new DataLayer.Entities.Lesson
        {
            DisCode = _lesson.DisCode,
            TeacherCode = _lesson.TeacherCode,
            Num = _lesson.Num,
            LessonDate = _lesson.LessonDate,
            LessonType = LessonConfig.StringToEnum(_lesson.LessonType),
            Theme = _lesson.Theme,
            HomeTask = _lesson.HomeTask
        };
        await Context.Set<Lesson>().AddAsync(lesson);
        await Context.SaveChangesAsync();
        BlazoredModal.Close();
        await ModalService.ShowModalWithActionOnClose<AddRecordsModal>("Заповнити урок", () => { }, ("LesCode", lesson.LesCode), ("DisCode", lesson.DisCode));
    }

}