@page "/lesson/{Code:int}"
@using ServiceLayer.Lesson.Dto
@using ServiceLayer.Lesson.Repositories
@using Microsoft.CodeAnalysis.CodeActions
@using SchoolWebApp.Pages.Lesson.Modals
@using DataLayer.Migrations
@using ServiceLayer.Record.Dto
@using ServiceLayer.Record.Repositories
@using DataLayer.QueryObjects
@using SchoolWebApp.Pages.Record.Modals

@inject LessonQueries LessonQueries
@inject IModalService Modal
@inject RecordQueries RecordQueries
@inject NavigationManager NavigationManager

<h1>
    Урок
    <AuthorizeView Roles="ADMIN, CLASSHEAD, TEACHER">
        <button @onclick="@(() => Modal.ShowModalWithActionOnClose<EditLessonModal>("Зміна даних урокуи", RefreshLesson, ("Lesson", _lesson)))" class="btn btn-outline-secondary mb-1 oi oi-pencil"></button>
    </AuthorizeView>
</h1>
<div class="list-group-flush mb-2">
    <div class="list-group-item">Дата: @_lesson.LessonDate.ToString("dd-MM-yyyy")</div>
    <div class="list-group-item">Тип: @_lesson.LessonType</div>
    <div class="list-group-item">Тема: @_lesson.Theme</div>
    <div class="list-group-item">Номер за порядком: @_lesson.Num</div>
    <div class="list-group-item">Домашнє завдання: @(string.IsNullOrEmpty(_lesson.HomeTask) ? "Немає" : _lesson.HomeTask)</div>
</div>
<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="Записи">
            <RadzenGrid EmptyText="Записів немає" AllowPaging="true" PageSize="10" AllowFiltering="true" AllowSorting="true" Data="_pupilRecords" TItem="PupilRecord" RowSelect="@(_ => { })" RowDoubleClick="@(pr => OnRowSelect(pr))">
                <Columns>
                    <RadzenGridColumn TItem="PupilRecord" Property="LastName" Title="Прізвище"/>
                    <RadzenGridColumn TItem="PupilRecord" Property="FirstName" Title="Ім'я"/>
                    <RadzenGridColumn TItem="PupilRecord" Property="MiddleName" Title="По-батькові"/>
                    <RadzenGridColumn TItem="PupilRecord" Property="Attendance" Title="Присутність">
                        <Template Context="_pupilRecord">
                            @if (_pupilRecord.Attendance)
                            {
                                <span class="oi oi-check" style="color: green"></span>
                            }
                            else
                            {
                                <span class="oi oi-x" style="color: red"></span>
                            }
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="PupilRecord" Property="Grade" Title="Оцінка"/>
                    <RadzenGridColumn TItem="PupilRecord" Property="Comment" Title="Коментар"/>
                    <AuthorizeView Roles="ADMIN, CLASSHEAD, TEACHER">
                        <RadzenGridColumn TItem="PupilRecord" Title="Дії" Sortable="false" Filterable="false">
                            <Template Context="_pupilRecord">
                                <button @onclick="@(() => Modal.ShowModalWithActionOnClose<EditRecordModal>("Підтвердіть оновлення", RefreshRecords, ("PupilRecord", _pupilRecord)))" class="btn btn-outline-secondary mb-1 oi oi-pencil"></button>
                            </Template>
                        </RadzenGridColumn>
                    </AuthorizeView>
                </Columns>
            </RadzenGrid>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

@code {

    [Parameter]
    public int Code { get; set; }

    LessonDto _lesson;

    IEnumerable<PupilRecord> _pupilRecords;

    protected override void OnInitialized()
    {
        RefreshLesson();
        RefreshRecords();
    }

    public void RefreshRecords()
    {
        _pupilRecords = RecordQueries.GetPupilRecordsOfLesson(_lesson.LesCode);
    }

    void RefreshLesson()
    {
        _lesson = LessonQueries.GetLesson(Code);
    }

    void OnRowSelect(PupilRecord pr)
    {
        NavigationManager.NavigateTo($"profile/pupil/{pr.PupCode}");
    }

}