@using ServiceLayer.Discipline.Repositories
@using ServiceLayer.Subject.Repositories
@using ServiceLayer.Discipline.Dto
@using ServiceLayer.Subject
@using SchoolWebApp.Pages.Common
@using SchoolWebApp.Pages.Pupil.Modals.SelectNum
@using System.ComponentModel.DataAnnotations
@using ServiceLayer.Subject.Dto
@using ServiceLayer.Teach.Repositories
@using ServiceLayer.Teacher.Dto
@using ServiceLayer.Teacher.Repositories

@inject IModalService Modal
@inject DisciplineCommands DisciplineCommands
@inject DisciplineQueries DisciplineQueries
@inject SubjectQueries SubjectQueries
@inject TeacherQueries TeacherQueries
@inject TeachCommands TeachCommands

<EditForm OnValidSubmit="@(Submit)" Model="_model">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="Subject">Предмет: </label>
        <InputSelect id="Subject" class="form-control" @bind-Value="_model.SubjName">
            <option selected>Виберіть предмет...</option>
            @foreach (var subject in _subjects)
            {
                <option value="@subject.SubjName">@subject.SubjName</option>
            }
        </InputSelect>

         <label for="Teacher">Вчитель, що викладає: </label>
        <InputSelectNumber id="Teacher" class="form-control" @bind-Value="_model.TeacherCode">
            <option selected>Виберіть вчителя...</option>
            @foreach (var teacher in _teachers)
            {
                <option value="@teacher.TeacherCode">@($"{teacher.LastName} {teacher.FirstName} {teacher.MiddleName}")</option>
            }
        </InputSelectNumber>

        <label for="Group">Група:</label>
        <InputNumber class="form-control" id="Group" placeholder="1" @bind-Value="_model.Group"/>

        <label for="DateYear">Календарний рік:</label>
        <InputNumber class="form-control" id="DateYear" placeholder="2020" @bind-Value="_model.DateYear"/>

        <label for="AcademYear">Навчальний рік:</label>
        <InputNumber class="form-control" id="AcademYear" placeholder="1" @bind-Value="_model.AcademYear"/>

        <label>
            Семестр:
            @for (int i = 1; i <= 2; i++)
            {
                <label>
                    <InputRadio name="Semester" SelectedValue="i" @bind-Value="_model.Semester"/>
                    @i
                </label>
            }
        </label>

        <button type="submit" class="btn btn-primary btn-block mt-1">Додати</button>
    </div>
</EditForm>

@code {

    class Model
    {
        [Required(ErrorMessage = "Предмет - обов'язкове поле")]
        [MaxLength(20, ErrorMessage = "Максимальна довжина предмету = 20")]
        public string SubjName { get; set; } // FK
        
        [Required(ErrorMessage = "Календарний рік - обов'язкове поле")]
        [DateYear(ErrorMessage = "Некоректний календарний рік")]
        public int DateYear { get; set; }
        
        [Required(ErrorMessage = "Навчальний рік - обов'язкове поле")]
        [Range(1, 11, ErrorMessage = "Навчальний рік - число від 1 до 12")]
        public int AcademYear { get; set; }
        
        [Required(ErrorMessage = "Семестр - обов'язкове поле")]
        [Range(1, 2, ErrorMessage = "Семестр - число від 1 до 2")]
        public int Semester { get; set; }
        
        [Required(ErrorMessage = "Група - обов'язкове поле")]
        [Range(1, int.MaxValue, ErrorMessage = "Група - число більше 1")]
        public int Group { get; set; }
        
        [Required(ErrorMessage = "Вчитель - обов'язкове поле")]
        public int? TeacherCode { get; set; }
    }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    Model _model;

    IEnumerable<SubjectDto> _subjects;
    
    IEnumerable<TeacherDto> _teachers;

    protected override void OnInitialized()
    {
        _model = new Model();
        _subjects = SubjectQueries.GetSubjects();
        _teachers = TeacherQueries.GetTeachers();
    }

    void Submit()
    {
        var discipline = new DisciplineDto
        {
            Group = _model.Group,
            AcademYear = _model.AcademYear,
            DateYear = _model.DateYear,
            Semester = _model.Semester,
            SubjName = _model.SubjName
        };
        
        DisciplineCommands.CreateDiscipline(discipline);
        
        TeachCommands.CreateTeach(DisciplineQueries.GetDisciplineCode(discipline), _model.TeacherCode!.Value);
        BlazoredModal.Close();
    }

}