@using ServiceLayer.Pupil.Dto
@using ServiceLayer.Pupil.Repositories
@using ServiceLayer.Family.Repositories
@using ServiceLayer.Family.Dto
@using ServiceLayer.Relative.Dto
@using ServiceLayer.Relative.Repositories
@using SchoolWebApp.Pages.Pupil.Modals.SelectNum
@using ServiceLayer.Learn.Dto
@using ServiceLayer.Learn.Repositories
@using System.ComponentModel.DataAnnotations

@inject LearnCommands Commands
@inject LearnQueries Queries
@inject IModalService ModalService

<EditForm OnValidSubmit="@(Submit)" Model="_model">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="Pupil">Учень: </label>
        <InputSelectNumber id="Pupil" class="form-control" @bind-Value="_model.PupCode">
            <option selected>Виберіть учня...</option>
            @foreach (var pupil in _pupils)
            {
                <option value="@pupil.PupCode">@($"{pupil.LastName} {pupil.FirstName} {pupil.MiddleName}")</option>
            }
        </InputSelectNumber>
        
        <button type="submit" class="btn btn-primary btn-block mt-1">Додати</button>
    </div>
</EditForm>

@code {
    
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public int Code { get; set; }

    Model _model;

    IEnumerable<PupilDto> _pupils;
    
    class Model
    {
        [Required(ErrorMessage = "Учень - обов'язкове поле")]
        public int? PupCode { get; set; }
        
        [Required(ErrorMessage = "Дисципліна - обов'язкове поле")]
        public int? DisCode { get; set; }
    }

    protected override void OnInitialized()
    {
        _model = new Model
        {
            DisCode = Code
        };

        _pupils = Queries.GetNonLearnPupils(Code);
    }

    void Submit()
    {
        Commands.CreateLearn(new LearnDto{DisCode = _model.DisCode!.Value, PupCode = _model.PupCode!.Value});
        BlazoredModal.Close();
    }

}