@using ServiceLayer.Teacher.Dto
@using ServiceLayer.Teacher.Repositories
@using ServiceLayer.Discipline.Dto
@using ServiceLayer.Discipline.Repositories
@inject DisciplineCommands Commands
@inject IModalService ModalService

<div>
    <p class="alert alert-warning">Ви дійсно бажаєте видалити дану дисципліну?<br/>Це призведе до видалення усіх уроків, оцінок і тд</p>
    <button class="btn btn-block btn-danger" @onclick="Submit">Так</button>
</div>

@code {

    [Parameter]
    public DisciplineDto Discipline { get; set; }

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    
    protected override void OnInitialized()
    {
    }

    void Submit()
    {
        Commands.DeleteDiscipline(Discipline.DisCode);
        BlazoredModal.Close();
    }

}