@using ServiceLayer.Pupil.Dto
@using ServiceLayer.Pupil.Repositories
@using DataLayer.Entities
@using Microsoft.AspNetCore.Identity;
@using ServiceLayer.Learn.Dto
@using ServiceLayer.Learn.Repositories
@inject LearnCommands Commands
@inject IModalService ModalService

<div>
    <p class="alert alert-warning">Ви дійсно бажаєте видалити "@Pupil.LastName @Pupil.FirstName @Pupil.MiddleName" з прослуховування дисципліни?</p>
    <button class="btn btn-block btn-danger" @onclick="Submit">Так</button>
</div>

@code {

    [Parameter]
    public PupilDto Pupil { get; set; }
    
    [Parameter]
    public int DisCode { get; set; }

    [CascadingParameter] 
    BlazoredModalInstance BlazoredModal { get; set; }
    
    protected override void OnInitialized()
    {
        
    }

    void Submit()
    {
        Commands.DeleteLearn(new LearnDto{DisCode = DisCode, PupCode = Pupil.PupCode});
        BlazoredModal.Close();
    }

}