@using ServiceLayer.Common.EmailsPhones
@using SchoolWebApp.Pages.Teacher.Modals
@using ServiceLayer.Common.EmailsPhones.Dto
@using ServiceLayer.Common.EmailsPhones.Interfaces
@using ServiceLayer.Teacher.Repositories
@using SchoolWebApp.Pages.Common.EmailsPhones.Modals
@using SchoolWebApp.Pages.Pupil.Modals
@using SchoolWebApp.Pages.Relative.Modals
@using ServiceLayer.Family.Dto
@using ServiceLayer.Family.Repositories
@using ServiceLayer.Relative.Dto
@using Microsoft.AspNetCore.Identity
@using ServiceLayer.Relative.Repositories
@using DataLayer.Entities

@inject IModalService Modal
@inject FamilyQueries FamilyQueries
@inject FamilyCommands FamilyCommands
@inject NavigationManager NavigationManager
@inject SignInManager<User> SignInManager
@inject RelativeQueries RelativeQueries

<RadzenTabsItem Text="Учні(сім'я)">
    @if (_familyPupils.Any())
    {
        <RadzenGrid Data="_familyPupils" TItem="FamilyPupilDto" RowSelect="@(_ => { })" RowDoubleClick="@(pupil => OnRowSelect(pupil))">
            <Columns>
                <RadzenGridColumn TItem="FamilyPupilDto" Property="LastName" Title="Прізвище"/>
                <RadzenGridColumn TItem="FamilyPupilDto" Property="FirstName" Title="Ім'я"/>
                <RadzenGridColumn TItem="FamilyPupilDto" Property="Type" Title="Тип"/>
                @if (IsEditable)
                {
                    <RadzenGridColumn TItem="FamilyPupilDto" Title="Дії">
                        <Template Context="familyPupil">
                            <button @onclick="@(() => { FamilyCommands.DeleteFamily(familyPupil.PupCode, Code); RefreshFamilyRelatives(); })" class="btn btn-danger mb-1 oi oi-delete"></button>
                        </Template>
                    </RadzenGridColumn>
                }
            </Columns>
        </RadzenGrid>
    }
    else
    {
        <p>Родичів немає</p>
    }
    @if (IsEditable)
    {
        <button class="btn btn-primary btn-sm mt-2" @onclick="@(() => Modal.ShowModalWithActionOnClose<AddFamilyPupilModal>("Додати родича", RefreshFamilyRelatives, ("Code", Code)))">Додати родича</button>
    }
</RadzenTabsItem>

@code {

    [Parameter]
    public EventCallback ContentChanged { get; set; }

    [Parameter]
    public int Code { get; set; }

    [Parameter]
    public bool IsEditable { get; set; }

    IEnumerable<FamilyPupilDto> _familyPupils;

    protected override void OnInitialized()
    {
        RefreshFamilyRelatives();
    }

    void RefreshFamilyRelatives()
    {
        _familyPupils = FamilyQueries.GetFamilyPupils(Code);
        ContentChanged.InvokeAsync(null);
    }

    void OnRowSelect(FamilyPupilDto dto)
    {
        if (SignInManager.Context.User.IsInRole("ADMIN")
            || SignInManager.Context.User.IsInRole("CLASSHEAD")
            || SignInManager.Context.User.Identity.Name == RelativeQueries.GetLogin(Code))
        {
            NavigationManager.NavigateTo($"profile/pupil/{dto.PupCode}");
        }
    }

}