@page "/relatives"

@using ServiceLayer.Relative.Dto
@using ServiceLayer.Relative.Repositories
@using SchoolWebApp.Pages.Relative.Modals
@using SchoolWebApp.Pages.Common.EmailsPhones;

@inject RelativeQueries RelativeQueries;
@inject RelativeCommands RelativeCommands;
@inject IModalService Modal
@inject NavigationManager NavigationManager;

<h1>Родичі</h1>
<hr/>
<RadzenGrid EmptyText="Родичів немає" AllowPaging="true" PageSize="10" AllowFiltering="true" AllowSorting="true" Data="_relatives" TItem="RelativeDto" RowSelect="@(_ => { })" RowDoubleClick="@(relative => OnRowSelect(relative))">
    <Columns>
        <RadzenGridColumn TItem="RelativeDto" Property="LastName" Title="Прізвище"/>
        <RadzenGridColumn TItem="RelativeDto" Property="FirstName" Title="Ім'я"/>
        <RadzenGridColumn TItem="RelativeDto" Property="MiddleName" Title="По-батькові"/>
        <RadzenGridColumn TItem="RelativeDto" Title="Дії" Sortable="false" Filterable="false" Width="10%">
            <Template Context="relative">
                <button @onclick="@(() => Modal.ShowModalWithActionOnClose<DeleteRelativeModal>("Підтвердіть видалення", RefreshRelatives, ("Relative", relative)))" class="btn btn-danger mb-1 oi oi-delete"></button>
            </Template>
        </RadzenGridColumn>
    </Columns>
</RadzenGrid>
<button class="btn btn-primary btn-lg mt-2" @onclick="@(() => Modal.ShowModalWithActionOnClose<AddRelativeModal>("Додати родича", RefreshRelatives))">Додати родича</button>

@code {
    IEnumerable<RelativeDto> _relatives;

    protected override void OnInitialized()
    {
        RefreshRelatives();
    }

    void RefreshRelatives()
    {
        _relatives = RelativeQueries.GetRelatives();
    }

    void OnRowSelect(RelativeDto relative)
    {
        NavigationManager.NavigateTo($"/profile/relative/{relative.RelCode}");
    }

}