@using System.ComponentModel.DataAnnotations
@using MySql.Data.MySqlClient
@using ServiceLayer.Common.EmailsPhones
@using ServiceLayer.Common.EmailsPhones.Dto
@using ServiceLayer.Common.EmailsPhones.Interfaces
@using ServiceLayer.Subject
@using ServiceLayer.Subject.Dto
@using ServiceLayer.Subject.Repositories

@inject NotificationService Notifications
@inject SubjectCommands SubjectCommands

<EditForm OnValidSubmit="@(() => Submit())" Model="_subjDto">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <InputText class="form-control" placeholder="Назва предмету" @bind-Value="@_subjDto.SubjName"/>
    <button type="submit" class="btn  btn-block btn-primary mt-1">Зберегти</button>
</EditForm>

@code {

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    private SubjectDto _subjDto;

    protected override void OnInitialized()
    {
        _subjDto = new SubjectDto();
    }

    void Submit()
    {
        try
        {
            SubjectCommands.CreateSubject(_subjDto);
            BlazoredModal.Close();
        }
        catch (MySqlException)
        {
            Notifications.Notify(NotificationSeverity.Error, "Даний предмет вже існує");
        }
    }
}