@using ServiceLayer.Pupil.Dto
@using ServiceLayer.Pupil.Repositories
@using ServiceLayer.Subject
@using ServiceLayer.Subject.Dto
@using ServiceLayer.Subject.Repositories
@inject SubjectCommands Commands
@inject IModalService ModalService

<div>
    <p class="alert alert-warning">Ви дійсно бажаєте видалити "@Subject.SubjName"?<br>Ця дія видалить усі дисципліни, уроки і тд. з цього предмету</p>
    <button class="btn btn-block btn-danger" @onclick="Submit">Так</button>
</div>

@code {

    [Parameter]
    public SubjectDto Subject { get; set; }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    protected override void OnInitialized()
    {
    }

    void Submit()
    {
        Commands.DeleteSubject(Subject);
        BlazoredModal.Close();
    }

}