@page "/discipline/{Code:int}"
@using ServiceLayer.Discipline.Dto
@using ServiceLayer.Discipline.Repositories
@using SchoolWebApp.Pages.Discipline.Modals
@using ServiceLayer.Learn.Repositories
@using ServiceLayer.Lesson.Dto
@using ServiceLayer.Lesson.Repositories
@using ServiceLayer.Pupil.Dto
@using DataLayer.Entities
@using SchoolWebApp.Pages.Lesson.Modals
@using ServiceLayer.Teacher.Repositories

@inject DisciplineQueries DisciplineQueries
@inject TeacherQueries TeacherQueries
@inject IModalService Modal
@inject NavigationManager NavigationManager
@inject LearnQueries LearnQueries
@inject LessonQueries LessonQueries

<h1>
    Дисципліна @_discipline.SubjName
    <AuthorizeView Roles="ADMIN, CLASSHEAD">
        <button @onclick="@(() => Modal.ShowModalWithActionOnClose<UpdateDisciplineModal>("Зміна даних дисципліни", RefreshDiscipline, ("Discipline", _discipline)))" class="btn btn-outline-secondary mb-1 oi oi-pencil"></button>
    </AuthorizeView>
</h1>
<hr/>
<div class="list-group-flush mb-2">
    <div class="list-group-item">Група: @_discipline.Group</div>
    <div class="list-group-item">Навчальний рік: @_discipline.AcademYear</div>
    <div class="list-group-item">Семестр: @_discipline.Semester</div>
    <div class="list-group-item">Календарний рік: @_discipline.DateYear</div>
</div>
<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="Учні">
            <RadzenGrid EmptyText="Учнів немає" AllowPaging="true" PageSize="10" AllowFiltering="true" AllowSorting="true" Data="_pupils" TItem="PupilDto" RowSelect="@(_ => { })" RowDoubleClick="@(pupil => OnPupilRowSelect(pupil))">
                <Columns>
                    <RadzenGridColumn TItem="PupilDto" Property="LastName" Title="Прізвище"/>
                    <RadzenGridColumn TItem="PupilDto" Property="FirstName" Title="Ім'я"/>
                    <RadzenGridColumn TItem="PupilDto" Property="MiddleName" Title="По-батькові"/>
                    <AuthorizeView Roles="ADMIN, CLASSHEAD">
                        <RadzenGridColumn TItem="PupilDto" Title="Дії" Sortable="false" Filterable="false">
                            <Template Context="pupil">
                                <button @onclick="@(() => Modal.ShowModalWithActionOnClose<DeleteLearnPupilModal>("Підтвердіть видалення", RefreshPupils, ("Pupil", pupil), ("DisCode", _discipline.DisCode)))" class="btn btn-danger mb-1 oi oi-delete"></button>
                            </Template>
                        </RadzenGridColumn>
                    </AuthorizeView>
                </Columns>
            </RadzenGrid>
            <AuthorizeView Roles="ADMIN, CLASSHEAD">
                <button class="btn btn-primary mt-2" @onclick="@(() => Modal.ShowModalWithActionOnClose<AddLearnPupilModal>("Додати учня", RefreshPupils, ("Code", _discipline.DisCode)))">Додати учня</button>
            </AuthorizeView>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Уроки">
            <RadzenGrid EmptyText="Уроків немає" AllowPaging="true" PageSize="30" AllowFiltering="true" AllowSorting="true" Data="_lessons" TItem="LessonDto" RowSelect="@(_ => { })" RowDoubleClick="@(lesson => OnLessonRowSelect(lesson))">
                <Columns>
                    <RadzenGridColumn TItem="LessonDto" Property="LessonDate" Title="Дата" Width="10%">
                        <Template Context="lesson">
                            @($"{lesson.LessonDate:dd-MM-yyyy}")
                        </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="LessonDto" Property="Num" Title="Номер за порядком" Width="15%"/>
                    <RadzenGridColumn TItem="LessonDto" Property="LessonType" Title="Тип" Width="10%"/>
                    <RadzenGridColumn TItem="LessonDto" Property="Theme" Title="Тема"/>
                    <RadzenGridColumn TItem="LessonDto" Property="HomeTask" Title="Домашнє завдання"/>
                    <RadzenGridColumn TItem="LessonDto" Property="TeacherCode" Title="Заміна">
                        <Template Context="lesson">
                            @if (lesson.TeacherCode == null)
                            {
                                <span>Немає</span>
                            }
                            else
                            {
                                var teacher = TeacherQueries.GetTeacher(lesson.TeacherCode.Value);
                                <span>@($"{teacher.LastName} {teacher.FirstName} {teacher.MiddleName}")</span>
                            }
                        </Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
            <AuthorizeView Roles="ADMIN, CLASSHEAD, TEACHER">
                <button class="btn btn-primary mt-2" @onclick="@(() => Modal.ShowModalWithActionOnClose<AddLessonModal>("Додати урок", RefreshLessons, ("Code", _discipline.DisCode)))">Додати урок</button>
            </AuthorizeView>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

@code {

    [Parameter]
    public int Code { get; set; }

    DisciplineDto _discipline;

    IEnumerable<PupilDto> _pupils;
    IEnumerable<LessonDto> _lessons;

    protected override void OnInitialized()
    {
        RefreshDiscipline();
        RefreshPupils();
        RefreshLessons();
    }

    void RefreshDiscipline()
    {
        _discipline = DisciplineQueries.GetDiscipline(Code);
    }

    void RefreshPupils()
    {
        _pupils = LearnQueries.GetLearnPupils(Code);
    }

    void RefreshLessons()
    {
        _lessons = LessonQueries.GetDisciplinesLessons(Code);
    }

    void OnPupilRowSelect(PupilDto pupil)
    {
        NavigationManager.NavigateTo($"profile/pupil/{pupil.PupCode}");
    }

    void OnLessonRowSelect(LessonDto lesson)
    {
        NavigationManager.NavigateTo($"lesson/{lesson.LesCode}");
    }

}