@page "/disciplines"
@using ServiceLayer.Discipline.Dto
@using ServiceLayer.Discipline.Repositories
@using SchoolWebApp.Pages.Discipline.Modals

@inject DisciplineQueries DisciplineQueries
@inject IModalService Modal
@inject NavigationManager NavigationManager

<h1>Дисципліни</h1>
<hr/>
<RadzenGrid EmptyText="Дисциплін немає" AllowPaging="true" PageSize="10" AllowFiltering="true" AllowSorting="true" Data="_disciplines" TItem="DisciplineDto" RowSelect="@(_ => { })" RowDoubleClick="@(discipline => OnRowSelect(discipline))">
    <Columns>
        <RadzenGridColumn Property="SubjName" TItem="DisciplineDto" Title="Предмет"/>
        <RadzenGridColumn Property="Group" TItem="DisciplineDto" Title="Група"/>
        <RadzenGridColumn Property="DateYear" TItem="DisciplineDto" Title="Календарний рік"/>
        <RadzenGridColumn Property="AcademYear" TItem="DisciplineDto" Title="Навчальний рік"/>
        <RadzenGridColumn Property="Semester" TItem="DisciplineDto" Title="Семестр"/>
        <AuthorizeView Roles="ADMIN, CLASSHEAD">
            <RadzenGridColumn TItem="DisciplineDto" Title="Дії" Sortable="false" Filterable="false" Width="10%">
                <Template Context="discipline">
                    <button @onclick="@(() => Modal.ShowModalWithActionOnClose<DeleteDisciplineModal>("Підтвердіть видалення", RefreshDisciplines, ("Discipline", discipline)))" class="btn btn-danger mb-1 oi oi-delete"></button>
                </Template>
            </RadzenGridColumn>
        </AuthorizeView>
    </Columns>
</RadzenGrid>
<AuthorizeView Roles="CLASSHEAD, ADMIN">
    <button class="btn btn-primary btn-lg mt-2" @onclick="@(() => Modal.ShowModalWithActionOnClose<AddDisciplineModal>("Додати дисципліну", RefreshDisciplines))">Додати дисципліну</button>
</AuthorizeView>


@code {

    IEnumerable<DisciplineDto> _disciplines;

    protected override void OnInitialized()
    {
        RefreshDisciplines();
    }

    void RefreshDisciplines()
    {
        _disciplines = DisciplineQueries.GetDisciplines();
    }

    void OnRowSelect(DisciplineDto discipline)
    {
        NavigationManager.NavigateTo($"discipline/{discipline.DisCode}");
    }

}