@page "/profile/teacher"
@page "/profile/teacher/{Code:int}"  
@using DataLayer.Entities
@using Microsoft.AspNetCore.Identity;
@using SchoolWebApp.Pages.Common.EmailsPhones;
@using SchoolWebApp.Pages.Discipline.Modals
@using SchoolWebApp.Pages.Teacher.Modals
@using ServiceLayer.Discipline.Dto
@using ServiceLayer.Discipline.Repositories
@using ServiceLayer.Family.Repositories
@using ServiceLayer.Relative.Repositories
@using ServiceLayer.Teach.Repositories
@using ServiceLayer.Teacher.Dto
@using ServiceLayer.Teacher.Repositories

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject TeacherQueries TeacherQueries
@inject TeacherCommands TeacherCommands
@inject TeachQueries TeachQueries
@inject IModalService Modal
@inject NavigationManager NavigationManager

<h1>Профіль вчителя</h1>
<hr/>
<div>
    <div style="width: 100%; text-align: center; font-size: 3em; font-weight: bold; margin-bottom: 1em;">
        @($"{_teacher.LastName} {_teacher.FirstName} {_teacher.MiddleName}")
        <button @onclick="@(() => Modal.ShowModalWithActionOnClose<UpdateTeacherModal>("Зміна контактних даних", OnInitialized, ("Teacher", _teacher)))" class="btn btn-outline-secondary mb-1 oi oi-pencil"></button>
    </div>
    <RadzenTabs>
        <Tabs>
            <EmailsPhonesTabs IsEditable="@_isEditable" ContentChanged="@(() => { StateHasChanged(); })" Code="_teacher.TeacherCode" PhonesQueries="TeacherQueries" EmailsQueries="TeacherQueries" EmailsCommands="TeacherCommands" PhonesCommands="TeacherCommands"/>
            <RadzenTabsItem Text="Дисципліни">
                <RadzenGrid EmptyText="Дисциплін немає" AllowPaging="true" PageSize="10" AllowFiltering="true" AllowSorting="true" Data="_disciplines" TItem="DisciplineDto" RowSelect="@(_ => { })" RowDoubleClick="@(discipline => OnDisciplineRowSelect(discipline))">
                    <Columns>
                        <RadzenGridColumn Property="SubjName" TItem="DisciplineDto" Title="Предмет"/>
                        <RadzenGridColumn Property="Group" TItem="DisciplineDto" Title="Група"/>
                        <RadzenGridColumn Property="DateYear" TItem="DisciplineDto" Title="Календарний рік"/>
                        <RadzenGridColumn Property="AcademYear" TItem="DisciplineDto" Title="Навчальний рік"/>
                        <RadzenGridColumn Property="Semester" TItem="DisciplineDto" Title="Семестр"/>
                        <AuthorizeView Roles="ADMIN, CLASSHEAD">
                            <RadzenGridColumn TItem="DisciplineDto" Title="Дії" Sortable="false" Filterable="false">
                                <Template Context="discipline">
                                    <button @onclick="@(() => Modal.ShowModalWithActionOnClose<DeleteDisciplineModal>("Підтвердіть видалення", RefreshDisciplines, ("Discipline", discipline)))" class="btn btn-danger mb-1 oi oi-delete"></button>
                                </Template>
                            </RadzenGridColumn>
                        </AuthorizeView>
                    </Columns>
                </RadzenGrid>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</div>

@code {

    [Parameter]
    public int? Code { get; set; }

    TeacherDto _teacher;
    bool _isEditable;
    IEnumerable<DisciplineDto> _disciplines;

    protected override void OnInitialized()
    {
        if (Code == null)
        {    
            _teacher = TeacherQueries.GetTeacher(SignInManager.Context.User.Identity.Name);
        }
        else
        {
            _teacher = TeacherQueries.GetTeacher(Code.Value);
        }

        _isEditable = SignInManager.Context.User.IsInRole("ADMIN")
                      || SignInManager.Context.User.IsInRole("CLASSHEAD")
                      || SignInManager.Context.User.Identity.Name == TeacherQueries.GetLogin(_teacher.TeacherCode);

        _disciplines = TeachQueries.GetTeachersDisciplines(_teacher.TeacherCode);
    }

    void RefreshDisciplines()
    {
        _disciplines = TeachQueries.GetTeachersDisciplines(_teacher.TeacherCode);
    }

    void OnDisciplineRowSelect(DisciplineDto discipline)
    {
        NavigationManager.NavigateTo($"discipline/{discipline.DisCode}");
    }

}