@page "/profile/pupil"
@page "/profile/pupil/{Code:int}"  
@using DataLayer.Entities
@using Microsoft.AspNetCore.Identity;
@using ServiceLayer.Pupil.Dto
@using ServiceLayer.Pupil.Repositories
@using SchoolWebApp.Pages.Common.EmailsPhones;
@using SchoolWebApp.Pages.Pupil;
@using SchoolWebApp.Pages.Pupil.Modals
@using ServiceLayer.Discipline.Dto
@using ServiceLayer.Family.Repositories
@using ServiceLayer.Learn.Repositories
@using ServiceLayer.Relative.Repositories

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject PupilQueries PupilQueries
@inject PupilCommands PupilCommands
@inject FamilyQueries FamilyQueries
@inject RelativeQueries RelativeQueries
@inject LearnQueries LearnQueries
@inject NavigationManager NavigationManager
@inject IModalService Modal;

<h1>Профіль учня</h1>
<hr/>
<div>
    <div style="width: 100%; text-align: center; font-size: 3em; font-weight: bold; margin-bottom: 1em;">
        @($"{_pupil.LastName} {_pupil.FirstName} {_pupil.MiddleName}")
        <AuthorizeView Roles="ADMIN, CLASSHEAD, PUPIL, RELATIVE"> <button @onclick="@(() => Modal.ShowModalWithActionOnClose<UpdatePupilModal>("Зміна контактних даних", OnInitialized, ("Pupil", _pupil)))" class="btn btn-outline-secondary mb-1 oi oi-pencil"></button></AuthorizeView>
    </div>
    <div class="list-group-flush mb-2">
        <div class="list-group-item">Адреса проживання: @_pupil.Address</div>
        <div class="list-group-item">Дата народження: @_pupil.BirthDate.ToString("dd-MM-yyyy")</div>
    </div>
    <RadzenTabs>
        <Tabs>
            <EmailsPhonesTabs IsEditable="@_isEditableEmailsPhones" ContentChanged="@(() => { StateHasChanged(); })" Code="_pupil.PupCode" PhonesQueries="PupilQueries" EmailsQueries="PupilQueries" EmailsCommands="PupilCommands" PhonesCommands="PupilCommands"/>
            <FamilyRelativesTab IsEditable="@_isEditableRelatives" ContentChanged="@(() => { StateHasChanged(); })" Code="_pupil.PupCode"/>
            <AuthorizeView Roles="ADMIN, CLASSHEAD, PUPIL, RELATIVE">
                <RadzenTabsItem Text="Дисципліни">
                    <RadzenGrid EmptyText="Дисциплін немає" AllowPaging="true" PageSize="10" AllowFiltering="true" AllowSorting="true" Data="_disciplines" TItem="DisciplineDto" RowSelect="@(_ => { })" RowDoubleClick="@(discipline => OnDisciplineRowSelect(discipline))">
                        <Columns>
                            <RadzenGridColumn Property="SubjName" TItem="DisciplineDto" Title="Предмет"/>
                            <RadzenGridColumn Property="Group" TItem="DisciplineDto" Title="Група"/>
                            <RadzenGridColumn Property="DateYear" TItem="DisciplineDto" Title="Календарний рік"/>
                            <RadzenGridColumn Property="AcademYear" TItem="DisciplineDto" Title="Навчальний рік"/>
                            <RadzenGridColumn Property="Semester" TItem="DisciplineDto" Title="Семестр"/>
                        </Columns>
                    </RadzenGrid>
                </RadzenTabsItem>
            </AuthorizeView>
        </Tabs>
    </RadzenTabs>
</div>

@code {

    [Parameter]
    public int? Code { get; set; }

    PupilDto _pupil;

    bool _isEditableEmailsPhones;
    bool _isEditableRelatives;

    IEnumerable<DisciplineDto> _disciplines;

    protected override void OnInitialized()
    {
        if (Code == null)
        {
            _pupil = PupilQueries.GetPupil(SignInManager.Context.User.Identity.Name);
        }
        else
        {
            _pupil = PupilQueries.GetPupil(Code.Value);
        }

        _disciplines = LearnQueries.GetLearnDisciplines(_pupil.PupCode);

        _isEditableEmailsPhones = SignInManager.Context.User.IsInRole("ADMIN")
                      || SignInManager.Context.User.IsInRole("CLASSHEAD")
                      || SignInManager.Context.User.Identity.Name == PupilQueries.GetLogin(_pupil.PupCode)
                      || SignInManager.Context.User.IsInRole("RELATIVE") && FamilyQueries.IsFamily(_pupil.PupCode, RelativeQueries.GetRelative(SignInManager.Context.User.Identity.Name).RelCode);

        _isEditableRelatives = SignInManager.Context.User.IsInRole("ADMIN")
                               || SignInManager.Context.User.IsInRole("CLASSHEAD");
    }

    void OnDisciplineRowSelect(DisciplineDto dto)
    {
        NavigationManager.NavigateTo($"discipline/{dto.DisCode}");
    }

}