@page "/profile/relative"
@page "/profile/relative/{Code:int}"  
@using DataLayer.Entities
@using Microsoft.AspNetCore.Identity;
@using ServiceLayer.Pupil.Dto
@using ServiceLayer.Pupil.Repositories
@using SchoolWebApp.Pages.Common.EmailsPhones;
@using SchoolWebApp.Pages.Relative;
@using SchoolWebApp.Pages.Pupil.Modals
@using SchoolWebApp.Pages.Relative.Modals
@using ServiceLayer.Family.Repositories
@using ServiceLayer.Relative.Dto
@using ServiceLayer.Relative.Repositories

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject RelativeQueries RelativeQueries
@inject RelativeCommands RelativeCommands
@inject FamilyQueries FamilyQueries
@inject IModalService Modal;

<h1>Профіль родича</h1>
<hr/>
<div>
    <div style="width: 100%; text-align: center; font-size: 3em; font-weight: bold; margin-bottom: 1em;">
        @($"{_relative.LastName} {_relative.FirstName} {_relative.MiddleName}")
        <button @onclick="@(() => Modal.ShowModalWithActionOnClose<UpdateRelativeModal>("Зміна контактних даних", OnInitialized, ("Relative", _relative)))" class="btn btn-outline-secondary mb-1 oi oi-pencil"></button>
    </div>
    <RadzenTabs>
        <Tabs>
            <EmailsPhonesTabs IsEditable="@_isEditableEmailsPhones" ContentChanged="@(() => { StateHasChanged(); })" Code="_relative.RelCode" PhonesQueries="RelativeQueries" EmailsQueries="RelativeQueries" EmailsCommands="RelativeCommands" PhonesCommands="RelativeCommands"/>
            <FamilyPupilsTab IsEditable="@_isEditablePupils" ContentChanged="@(() => { StateHasChanged(); })" Code="_relative.RelCode" />
        </Tabs>
    </RadzenTabs>
</div>

@code {

    [Parameter]
    public int? Code { get; set; }

    RelativeDto _relative;

    bool _isEditableEmailsPhones;
    bool _isEditablePupils;

    protected override void OnInitialized()
    {
        if (Code == null)
        {
            _relative = RelativeQueries.GetRelative(SignInManager.Context.User.Identity.Name);
        }
        else
        {
            _relative = RelativeQueries.GetRelative(Code.Value);
        }

        _isEditableEmailsPhones = SignInManager.Context.User.IsInRole("ADMIN")
                      || SignInManager.Context.User.IsInRole("CLASSHEAD")
                      || SignInManager.Context.User.Identity.Name == RelativeQueries.GetLogin(_relative.RelCode);

        _isEditablePupils = SignInManager.Context.User.IsInRole("ADMIN")
                               || SignInManager.Context.User.IsInRole("CLASSHEAD");
    }

}