@using ServiceLayer.Pupil.Dto
@using ServiceLayer.Pupil.Repositories
@using ServiceLayer.Family.Repositories
@using ServiceLayer.Family.Dto
@using ServiceLayer.Relative.Dto
@using ServiceLayer.Relative.Repositories
@using SchoolWebApp.Pages.Pupil.Modals.SelectNum

@inject FamilyCommands FamilyCommands
@inject FamilyQueries FamilyQueries
@inject IModalService ModalService

<EditForm OnValidSubmit="@(Submit)" Model="_familyDto">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="Type">Тип: </label>
        <InputText class="form-control" id="Type" placeholder="Тип" @bind-Value="_familyDto.Type"/>
        
        <label for="Relative">Родич: </label>
        <InputSelectNumber id="Relative" class="form-control" @bind-Value="_familyDto.RelCode">
            <option selected>Виберіть родича...</option>
            @foreach (var relative in _relatives)
            {
                <option value="@relative.RelCode">@($"{relative.LastName} {relative.FirstName} {relative.MiddleName}")</option>
            }
        </InputSelectNumber>
        
        <button type="submit" class="btn btn-primary btn-block mt-1">Додати</button>
    </div>
</EditForm>

@code {
    
    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public int Code { get; set; }

    FamilyDto _familyDto;

    IEnumerable<RelativeDto> _relatives;

    protected override void OnInitialized()
    {
        _familyDto = new FamilyDto
        {
            PupCode = Code,
        };

        _relatives = FamilyQueries.GetNonFamilyRelatives(Code);
    }

    void Submit()
    {
        FamilyCommands.CreateFamily(_familyDto);
        BlazoredModal.Close();
    }

}