@using ServiceLayer.Pupil.Dto
@using ServiceLayer.Pupil.Repositories
@using Microsoft.AspNetCore.Identity
@using SchoolWebApp.Services
@using DataLayer.Entities
@using NickBuhro.Translit
@using System.ComponentModel.DataAnnotations
@inject PupilCommands Commands
@inject IModalService ModalService
@inject NotificationService Notifications
@inject UserManager<User> UserManager
@inject RoleManager<Role> RoleManager

<EditForm OnValidSubmit="@(Submit)" Model="Pupil">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="LastName">Прізвище: </label>
        <InputText class="form-control" id="LastName" placeholder="Прізвище" @bind-Value="Pupil.LastName"/>

        <label for="FirstName">Ім'я:</label>
        <InputText class="form-control" id="FirstName" placeholder="Ім'я" @bind-Value="Pupil.FirstName"/>

        <label for="MiddleName">По-батькові:</label>
        <InputText class="form-control" id="MiddleName" placeholder="По-батькові" @bind-Value="Pupil.MiddleName"/>

        <label for="Address">Адреса проживання:</label>
        <InputText class="form-control" id="Address" placeholder="Адреса" @bind-Value="Pupil.Address"/>

        <label>
            Дата народження:
            <RadzenDatePicker TValue="DateTime" @bind-value="Pupil.BirthDate" DateFormat="dd-MM-yyyy" Placeholder="ДД-ММ-РРРР" Style="width: 100%" Change="@(() => { })"/>
        </label>

        <button type="submit" class="btn btn-primary btn-block mt-1">Зберегти</button>
    </div>
</EditForm>

@code {

    PupilDto Pupil { get; } = new PupilDto();

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    protected override void OnInitialized()
    {
    }

    async Task Submit()
    {
        string login = $"p{Transliteration.CyrillicToLatin(Pupil.LastName, Language.Ukrainian)[..2]}{Transliteration.CyrillicToLatin(Pupil.FirstName, Language.Ukrainian)[..2]}{Pupil.BirthDate:MMdd}";
        login = login.Replace('і', 'i');
        login = login.Replace('І', 'I');
        string pass = RandomPasswordGenerator.GeneratePassword(UserManager);
        
        User user = new User {Login = login};
        
        await UserManager.CreateAsync(user, pass);
        await UserManager.AddToRoleAsync(user, "PUPIL");
        
        Commands.AddPupil(Pupil, login);
        Notifications.Notify(NotificationSeverity.Success, "Учня створено!", $"Логін: {user.Login}\nПароль: {pass}", int.MaxValue);
        BlazoredModal.Close();
    }

}