@using ServiceLayer.Pupil.Dto
@using ServiceLayer.Pupil.Repositories
@using DataLayer.Entities
@using Microsoft.AspNetCore.Identity;
@inject PupilCommands Commands
@inject PupilQueries Queries
@inject IModalService ModalService
@inject UserManager<User> UserManager

<div>
    <p class="alert alert-warning">Ви дійсно бажаєте видалити "@Pupil.LastName @Pupil.FirstName"?</p>
    <button class="btn btn-block btn-danger" @onclick="Submit">Так</button>
</div>

@code {

    [Parameter]
    public PupilDto Pupil { get; set; }

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    
    protected override void OnInitialized()
    {
    }

    async Task Submit()
    {
        await UserManager.DeleteAsync(await UserManager.FindByNameAsync(Queries.GetLogin(Pupil.PupCode)));
        // Commands.DeletePupil(Pupil.PupCode);
        BlazoredModal.Close();
    }

}