@using ServiceLayer.Pupil.Dto
@using ServiceLayer.Pupil.Repositories
@inject PupilCommands Commands
@inject IModalService ModalService

<EditForm OnValidSubmit="@(Submit)" Model="_pupil">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-group">
        <label for="LastName">Прізвище: </label>
        <InputText class="form-control" id="LastName" placeholder="Прізвище" @bind-Value="_pupil.LastName"/>

        <label for="FirstName">Ім'я:</label>
        <InputText class="form-control" id="FirstName" placeholder="Ім'я" @bind-Value="_pupil.FirstName"/>

        <label for="MiddleName">По-батькові:</label>
        <InputText class="form-control" id="MiddleName" placeholder="По-батькові" @bind-Value="_pupil.MiddleName"/>

        <label for="Address">Адреса проживання:</label>
        <InputText class="form-control" id="Address" placeholder="Адреса" @bind-Value="_pupil.Address"/>

        <label>
            Дата народження:
            <RadzenDatePicker TValue="DateTime" @bind-value="_pupil.BirthDate" DateFormat="dd-MM-yyyy" Placeholder="ДД-ММ-РРРР" Style="width: 100%" Change="@(() => {})"/>
        </label>

        <button type="submit" class="btn btn-primary btn-block mt-1">Зберегти</button>
    </div>
</EditForm>

@code {

    [Parameter]
    public PupilDto Pupil { get; set; }

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; }

    private PupilDto _pupil;

    protected override void OnInitialized()
    {
        _pupil = new PupilDto
        {
            PupCode = Pupil.PupCode,
            LastName = Pupil.LastName,
            FirstName = Pupil.FirstName,
            MiddleName = Pupil.MiddleName,
            Address = Pupil.Address,
            BirthDate = Pupil.BirthDate
        };
    }

    void Submit()
    {
        Commands.UpdatePupil(_pupil);
        BlazoredModal.Close();
    }

}