@page "/subjects"
@using ServiceLayer.Subject.Repositories
@using ServiceLayer.Subject
@using SchoolWebApp.Pages.Subject.Modals
@using ServiceLayer.Subject.Dto

@inject SubjectQueries SubjectQueries
@inject IModalService Modal

<h1>Предмети</h1>
<hr/>

@if (_subjects.Any())
{
    <RadzenDataList TItem="SubjectDto" Data="_subjects">
        <Template Context="subject">
            <span class="mb-0">@subject.SubjName</span>
            <button @onclick="@(() => Modal.ShowModalWithActionOnClose<DeleteSubjectModal>("Підтвердіть видалення", RefreshSubjects, ("Subject", subject)))" class="btn btn-danger float-right oi oi-delete"></button>
        </Template>
    </RadzenDataList>
}
else
{
    <p>Предметів немає</p>
}
<button class="btn btn-primary btn-lg mt-2" @onclick="@(() => Modal.ShowModalWithActionOnClose<AddSubjectModal>("Додати предмет", RefreshSubjects))">Додати предмет</button>


@code {

    IEnumerable<SubjectDto> _subjects;

    protected override void OnInitialized()
    {
       RefreshSubjects();
    }

    void RefreshSubjects()
    {
        _subjects = SubjectQueries.GetSubjects();
    }

}